<!-- Loading -->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>

<!-- End Loading -->

<!-- ====== Navbar ====== -->
<div id="navbar" class="navbar">
  <app-navbar [dataUser]="dataUser"></app-navbar>
</div>
<!-- ===== End Navbar ===== -->
<section class="layout">
  <!-- ======= Sidenav ======= -->
  <aside id="sidenav" class="sidenav" [ngClass]="{ offSideNav: !sidenav }">
    <app-sidenav [dataUser]="dataUser"></app-sidenav>
  </aside>
  <!-- ===== End Sidenav ===== -->

  <!-- ======== Main ======== -->
  <main id="main" class="main" [ngClass]="{ offMain: !sidenav }">
    <router-outlet></router-outlet>
  </main>
  <!-- ====== End Main ====== -->
</section>
