.nav-text {
  margin-right: 75px;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
.navbar-brand {
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  color: #1090cb;
}
.nav-login {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}
