<!-- Section: Design Block -->
<section class="text-start container-login">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-lg-5 d-none d-lg-flex">
      <img
        src="/assets/img/public/login-img.jpg"
        alt=""
        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
      />
    </div>
    <div class="col-lg-7">
      <div class="card-body py-5 px-md-5">
        <form>
          <div class="row mt-2 text-center">
            <h2>Inicio de Sesion</h2>
          </div>

          <div class="text-danger">
            <span class="fw-bold mb-0">{{ menssage_error }}</span>
          </div>

          <!-- Email input -->
          <div class="form-outline mt-5 mb-4">
            <label class="form-label" for="email">Correo</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
            />
          </div>
          <div class="mb-4">
            <a href="#!">¿Olvidaste la contraseña?</a>
          </div>

          <!-- Submit button -->
          <button
            type="button"
            class="btn btn-primary btn-block mb-4"
            (click)="sendDataFormLogin()"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
