<div class="container-1">
  <img src="/assets/img/public/service-img-1.png" class="img-fluid" />
  <div class="title-service">
    Our
    <div class="azul-title">Services</div>
  </div>
  <div class="text-service">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's
  </div>
</div>
<div class="row container-2">
  <div class="col-12 col-lg-4">
    <div class="number-static">6</div>
    <div class="text-static">Happy Clients</div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="number-static">4</div>
    <div class="text-static">Operations</div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="number-static">400+</div>
    <div class="text-static">Customers</div>
  </div>
</div>
<div class="row container-3">
  <div class="col-12 col-lg-5 container-3-text">
    <div class="text-1 space-text">
      Lorem ipsum,
      <div class="black-title">
        dolor sit amet consectetur adipisicing elit.
      </div>
    </div>
    <div class="text-2 space-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi inventore
      unde repellendus voluptatibus ipsa nulla eligendi odio, repudiandae dicta
      illum iure voluptas earum ab consequuntur sequi deserunt possimus quam
      quibusdam, voluptatum tempore animi quisquam voluptate. Provident
      perspiciatis ducimus molestiae totam.
    </div>
    <div class="space-text">
      <button class="button-1">
        <a routerLink="/public/contact" class="nav-link">Contact</a>
      </button>
    </div>
  </div>
  <div class="col-12 col-lg-7 container-3-img">
    <img src="/assets/img/public/service-img-2.png" class="img-fluid" />
  </div>
</div>
