.container-1 {
  background-color: #1090cb;
  width: 100%;
  text-align: center;
  padding: 5% 25% 5% 25%;

  .title-service {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #ffffff;
  }

  .azul-title {
    display: inline;
    color: #000000;
  }

  .text-service {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    text-align: center;
    color: #ffffff;
  }
}

.container-2 {
  text-align: center;
  background: #1090cb;
  background-image: linear-gradient(to bottom, #1090cb, #a2caea);
  padding: 5% 8%;
  font-style: normal;
  color: #ffffff;

  .number-static {
    font-weight: 600;
    font-size: 65px;
  }

  .text-static {
    font-weight: 400;
    font-size: 16px;
    line-height: 177.9%;
    letter-spacing: 0.01em;
  }

  .number-static:hover {
    color: #000000;
  }

}

.container-3 {
  background-image: linear-gradient(to bottom, #a2caea, #fff);
  padding: 5% 10%;

  .container-3-text {
    text-align: left;
    font-style: normal;
    line-height: 180%;

    .text-1 {
      font-weight: 600;
      font-size: 30px;
      color: #1090cb;

      .black-title {
        color: #000000;
        display: inline;
      }
    }

    .text-2 {
      font-weight: 400;
      font-size: 16px;
      color: #545454;
    }

    .button {
      padding: 5px 30px 5px 30px;
      border-radius: 10px;
      font-weight: 500;
      font-size: 20px;
      border-color: #1090cb;
      background-color: #ffffff;

    }

    .button:hover {
      background-color: #a2caea;
      color: #ffffff;
      box-shadow: #000000 0px 1px 1px;
    }
  }


}