<div class="container-1">
  <div class="row container-row">
    <div class="col-12 col-lg-6 container-1-text">
      <div class="text-1 space-text">
        Sistema de Gestión de Horarios Laborales.
      </div>
      <div class="text-2 space-text">
        El Sistema de Gestión de Horarios Laborales es una solución moderna para
        simplificar la asignación y seguimiento de horarios en entornos
        laborales. Con características como planificación automatizada,
        asignación flexible de turnos, notificaciones en tiempo real y análisis
        de datos, este proyecto busca mejorar la eficiencia y comunicación en la
        gestión del tiempo laboral. El repositorio contiene el código fuente
        para la plataforma, invitando a colaboradores a contribuir en la
        optimización y personalización del sistema para diversas industrias.
        Únete a nosotros para crear lugares de trabajo más organizados y
        productivos.
      </div>
    </div>
    <div class="col-12 col-lg-6 container-1-img">
      <img src="./assets/img/public/home-img.png" class="img-fluid" />
    </div>
  </div>
</div>
<div class="container-2">
  <div class="row row-container-2">
    <div
      class="col-12 col-lg-5 card-row"
      style="color: #000000; background-color: #f4f4f4"
    >
      <div class="title-card">
        Optimiza Horarios Laborales con Nuestros Servicios.
      </div>
      <div class="text-card">
        Simplifica la gestión de horarios con planificación automatizada, turnos
        flexibles y comunicación en tiempo real. Toma decisiones informadas con
        análisis detallados. Cuenta con nuestro soporte personalizado en cada
        paso. Optimiza tus horarios laborales con nosotros.
      </div>
      <div class="buttom-div">
        <button
          class="button-card"
          style="color: #ffffff; background-color: #1090cb"
        >
          Servicios
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-2"></div>
    <div
      class="col-12 col-lg-5 card-row"
      style="color: #ffffff; background-color: #1090cb"
    >
      <div class="title-card">¡Contáctanos para más información!</div>
      <div class="text-card">
        ¿Necesitas asistencia o tienes preguntas? Estamos aquí para ayudarte.
        Esperamos colaborar contigo para mejorar tu experiencia con nuestro
        sistema de gestión de horarios laborales. Haz clic en el botón de abajo
        para ponerte en contacto.
      </div>
      <div class="buttom-div">
        <button
          class="button-card"
          style="color: #000000; background-color: #ffffff"
        >
          ¡Contáctanos!
        </button>
      </div>
    </div>
  </div>
</div>
